
@{
    ViewData["Title"] = "Detail";
    ViewData["ActivePage"] = "Blog";
    ViewData["NavUrl"] = "/";
    ViewData["NavUrlTwo"] = "/Blog/Index";

    Layout = "~/Views/UILayout/Index.cshtml";
}
@model RentACar.Application.DTOs.Concrete.BlogDto.GetBlogByIdDto

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">@Model.Title </h2>
                <p>
                    <img src="@Model.ImageUrl" alt="" class="img-fluid">
                </p>
                <p>@Model.Content</p>
              
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    @await Component.InvokeAsync("_BlogDetailSidebarTagsComponentPartial")
                </div>

                @await Component.InvokeAsync("_BlogDetailSidebarAuthorComponentPartial", new { id = ViewBag.BlogId })


                <div class="pt-5 mt-5">
                   
                    @await Component.InvokeAsync("_BlogDetailSidebarCommentListComponentPartial")
                    <!-- END comment-list -->

                    @await Component.InvokeAsync("_BlogDetailSidebarCommentFormComponentPartial")
                    
                </div>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                @await Component.InvokeAsync("_BlogDetailSidebarSearchComponentPartial")
                @await Component.InvokeAsync("_BlogDetailSidebarCategoryComponentPartial")
                @await Component.InvokeAsync("_BlogDetailSidebarRecentBlogsComponentPartial")
                @await Component.InvokeAsync("_BlogDetailSidebarTagsComponentPartial")
                @await Component.InvokeAsync("_BlogDetailSidebarParagraphComponentPartial")
            </div>

        </div>
    </div>
</section>

