
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model PricingToCarVM

<div class="card">
    <div class="card-body">

        <h4 class="card-title">Create new pricing to car</h4>

        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="carId">Select car</label>
                <select class="form-control" id="carId" asp-for="CreatePricingToCarDto.CarId" asp-items="@(new SelectList(Model.GetAllCarsWithBrandNameForAdminDtos, "Id", "DisplayName"))">
                    <option hidden>Select car</option>
                </select>
                <span asp-validation-for="CreatePricingToCarDto.CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="pricingId">Select price</label>
                <select class="form-control" id="pricingId" asp-for="CreatePricingToCarDto.PricingId" asp-items="@(new SelectList(Model.GetAllPricingDtos, "Id", "Name"))">
                    <option hidden>Select price name</option>
                </select>
                <span asp-validation-for="CreatePricingToCarDto.PricingId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" asp-for="CreatePricingToCarDto.Amount" placeholder="Enter amount">
                <span asp-validation-for="CreatePricingToCarDto.Amount" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success waves-effect waves-light">Create</button>
        </form>
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
</div>


