<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    Xacton
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-certificate"></i><span>Brand</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="Brand" asp-action="Index"><i class="fas fa-list"></i>Brand list</a></li>
                        <li><a asp-area="Admin" asp-controller="Brand" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new brand</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="fas fa-car"></i><span>Car</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="Car" asp-action="Index"><i class="fas fa-list"></i> Car list</a></li>
                        <li><a asp-area="Admin" asp-controller="Car" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new car</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-tags"></i><span>Feature</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="Feature" asp-action="Index"><i class="fas fa-list"></i>Feature list</a></li>
                        <li><a asp-area="Admin" asp-controller="Feature" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new feature</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-plug"></i><span>Feature to car</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="CarFeature" asp-action="Index"><i class="fas fa-list"></i>Feature to car list</a></li>
                        <li><a asp-area="Admin" asp-controller="CarFeature" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new feature car</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-money-bill-alt"></i><span>Pricing</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="Pricing" asp-action="Index"><i class="fas fa-list"></i>Pricing list</a></li>
                        <li><a asp-area="Admin" asp-controller="Pricing" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new price</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-money-bill-alt"></i><span>Pricing to car</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="PricingToCar" asp-action="Index"><i class="fas fa-list"></i>Pricing to car list</a></li>
                        <li><a asp-area="Admin" asp-controller="PricingToCar" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new car price</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-text-height"></i><span>Car description</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="CarDescription" asp-action="Index"><i class="fas fa-list"></i>Car description list</a></li>
                        <li><a asp-area="Admin" asp-controller="CarDescription" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new car description</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-file-video"></i><span>Banner</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-area="Admin" asp-controller="Banner" asp-action="Index"><i class="fas fa-list"></i>Banner list</a></li>
                        <li><a asp-area="Admin" asp-controller="Banner" asp-action="Create"><i class="fas fa-plus-circle"></i> Add new banner</a></li>
                    </ul>
                </li>

                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->