<!-- Overlay-->
<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="~/admin/assets/js/jquery.min.js"></script>
<script src="~/admin/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/admin/assets/js/metismenu.min.js"></script>
<script src="~/admin/assets/js/waves.js"></script>
<script src="~/admin/assets/js/simplebar.min.js"></script>

<!-- third party js -->
<script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/admin/plugins/datatables/dataTables.bootstrap4.js"></script>
<script src="~/admin/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
<script src="~/admin/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/admin/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/admin/plugins/datatables/buttons.flash.min.js"></script>
<script src="~/admin/plugins/datatables/buttons.print.min.js"></script>
<script src="~/admin/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="~/admin/plugins/datatables/dataTables.select.min.js"></script>
<script src="~/admin/plugins/datatables/pdfmake.min.js"></script>
<script src="~/admin/plugins/datatables/vfs_fonts.js"></script>
<!-- third party js ends -->

<!-- Datatables init -->
<script src="~/admin/assets/pages/datatables-demo.js"></script>

<script src="~/admin/plugins/dropify/dropify.min.js"></script>

<!-- Init js-->
<script src="~/admin/assets/pages/fileuploads-demo.js"></script>

<!-- App js -->
<script src="~/admin/assets/js/theme.js"></script>

<!-- jQuery  -->

<script src="~/admin/assets/js/waves.js"></script>
<script src="~/admin/assets/js/simplebar.min.js"></script>

<!-- Plugins js -->
<script src="~/admin/plugins/autonumeric/autoNumeric-min.js"></script>
<script src="~/admin/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/admin/plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/admin/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="~/admin/plugins/moment/moment.js"></script>
<script src="~/admin/plugins/select2/select2.min.js"></script>
<script src="~/admin/plugins/switchery/switchery.min.js"></script>
<script src="~/admin/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="~/admin/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

<!-- Custom Js -->
<script src="~/admin/assets/pages/advanced-plugins-demo.js"></script>

<!-- App js -->
<script src="~/admin/assets/js/theme.js"></script>

